.App {
  text-align: center;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.id{
  font-size: 20px;
  font-weight: 600;
  color: #3f4044;
}
.name{
  font-size: 18px;
  font-weight: 500;
}
.brand{
  font-size: 20px;
  font-weight: 600;
  color: #f20808;
}
.description{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #3f4044;
}
.price{
  font-size: 20px ;
  font-weight: bold;
  color: #ff6500;
}
.btn{
  background-color: #ff6500;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
  